<div th:fragment="debug" id="myModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title">Debug</h4>

			</div>
			<div class="modal-body text-left" id="debugConsole">
				<p>Ce que je vois:</p>
				<li id="whatisee"></li>
				<p>Ce que j'entends:</p>
				<li id="whatiheard"></li>
				<p>Ce que je fais:</p>
				<li id="listDebug"></li>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>